.title{
  background-color: black;
  margin-top: 0px;
}

.title-text{
  color:white;
  margin-top: 0px;
  padding-top: 20px;
}

.rating-btn{
  background-color: white;
  border: none;
}

.rating-btn:hover{
  /*background-color: white;*/
  image-resolution: snap;
  /*border-style: solid;
  border-color: black;*/
}

.review-form{
  margin-bottom: 50px;
}
.whole_review{
  margin-top: 30px;
}

.username{
  font-size: 18px;
  font-family: serif;
  margin-right: 20px;
  color: blue;
}
.display-review{
  margin-bottom: 40px;
}

.display_review_container{
  margin-top:35px;
}

.well{
  background-color: white;
  margin-top: 30px;
}

.review_text{
  margin-top: 20px;
  border-top: 1px solid grey;
  padding:20px;
}

.detail{
  font-size: 20px;
}
.add_to_cart_btn{
  margin-left: 0px;
}
.posting-block{
  padding-left: 80px;
  padding-right: 80px;
}

.rdw-editor-main{
  height: 600px;
}

.blog-nav{
  position:fixed;
  top:55px;
  width:100%;
  z-index:100;
  margin-bottom: 20px;
}
.write-btn{
  background-color: white;
}

.cart_number{
  color: #F08804;
}
.navbar-nav > li > .cart_a{
  padding-top: 9px;
  padding-bottom: 0px;
  padding-left: 0;
  padding-right: 0px;
  margin-right: -90px;
  margin-left: 19px;
  margin-top: -6px;
  text-align: center;
  z-index: 1;
  width: 10px;
}

.quantity_input{
  width: 50px;
  height:29px;
}

.favoriteBtn{
  background-color: #F6BCF8;
}
.bodyContainer{
  margin-top: 100px;
}
.cartContainer{
  margin-top: 100px;
  
}
